:root {
  color-scheme: light dark;
  --background-color: green;
  --card-background-color: rgba(255, 255, 255, 0.25);
  --img-background-color: rgba(255, 255, 255, 0.15);
  --text-color: rgba(255, 255, 255, 0.9);
  --light-text-color: rgba(255, 255, 255, 0.7);
  --table-border-color: rgba(255, 255, 255, 0.3);
  --shadow-color: 92deg 65% 18%;
  --shadow-elevation-low: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.41),
    0px 0.6px 0.6px -1.8px hsl(var(--shadow-color) / 0.33),
    0px 1.6px 1.5px -3.5px hsl(var(--shadow-color) / 0.25);
  --shadow-elevation-medium: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.43),
    0px 1.1px 1.1px -1.2px hsl(var(--shadow-color) / 0.36),
    0px 3px 2.9px -2.4px hsl(var(--shadow-color) / 0.3),
    -0.1px 7.9px 7.6px -3.5px hsl(var(--shadow-color) / 0.24);
  --shadow-elevation-high: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.4),
    0px 1.5px 1.5px -0.5px hsl(var(--shadow-color) / 0.37),
    0px 2.9px 2.8px -1px hsl(var(--shadow-color) / 0.34),
    0px 5.2px 5px -1.5px hsl(var(--shadow-color) / 0.31),
    -0.1px 9px 8.7px -2px hsl(var(--shadow-color) / 0.28),
    -0.1px 15.1px 14.6px -2.5px hsl(var(--shadow-color) / 0.25),
    -0.2px 23.9px 23.1px -3px hsl(var(--shadow-color) / 0.22),
    -0.3px 36.2px 35px -3.5px hsl(var(--shadow-color) / 0.19);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #311d00;
    --card-background-color: rgba(0, 0, 0, 0.3);
    --img-background-color: rgba(0, 0, 0, 0.3);
    --text-color: rgba(255, 255, 255, 0.75);
    --light-text-color: rgba(255, 255, 255, 0.5);
    --table-border-color: rgba(0, 0, 0, 0.5);
    --shadow-color: 34deg 100% 3%;
    --shadow-elevation-low: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.41),
      0px 0.6px 0.6px -1.8px hsl(var(--shadow-color) / 0.33),
      0px 1.6px 1.5px -3.5px hsl(var(--shadow-color) / 0.25);
    --shadow-elevation-medium: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.43),
      0px 1.1px 1.1px -1.2px hsl(var(--shadow-color) / 0.36),
      0px 3px 2.9px -2.4px hsl(var(--shadow-color) / 0.3),
      -0.1px 7.9px 7.6px -3.5px hsl(var(--shadow-color) / 0.24);
    --shadow-elevation-high: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.4),
      0px 1.5px 1.5px -0.5px hsl(var(--shadow-color) / 0.37),
      0px 2.9px 2.8px -1px hsl(var(--shadow-color) / 0.34),
      0px 5.2px 5px -1.5px hsl(var(--shadow-color) / 0.31),
      -0.1px 9px 8.7px -2px hsl(var(--shadow-color) / 0.28),
      -0.1px 15.1px 14.6px -2.5px hsl(var(--shadow-color) / 0.25),
      -0.2px 23.9px 23.1px -3px hsl(var(--shadow-color) / 0.22),
      -0.3px 36.2px 35px -3.5px hsl(var(--shadow-color) / 0.19);
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  background-color: var(--background-color);
  font-size: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin: 0;
  padding: 0;
  user-select: none;
  height: 100%;
  color: var(--text-color);
}

#site-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

header > svg {
  height: 140px;
}

#players-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 24px auto 0;
  justify-content: center;
  //padding: 0 0 48px 0;
  padding: 0 0 24px 0;
}

#players-list li {
  background-color: var(--card-background-color);
  display: flex;
  flex-direction: row;
  margin: 8px;
  border-radius: 6px;
  text-align: center;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

#players-list li .number {
  background-color: var(--card-background-color);
  font-weight: bold;
  font-size: 24px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*#players-list li .number-and-position {
  background-color: var(--card-background-color);
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#players-list li .number-and-position span {
  font-weight: bold;
  font-size: 24px;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#players-list li .number-and-position .number {
  position: relative;
  align-items: flex-end;
  //background-color: rgba(255, 0, 0, 0.15);
  padding-top: 7px;
  padding-bottom: 4px;
}

#players-list li .number-and-position .number:after {
  content: "";
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  bottom: 0;
  left: 0;
}

#players-list li .number-and-position .position {
  //border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 18px;
  align-items: flex-start;
  //background-color: rgba(0, 0, 255, 0.15);
  padding-top: 4px;
}*/

#players-list li .name-and-stats {
  flex: 1;
  //margin: 8px 8px 8px 24px;
  margin: 8px 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#players-list li .position {
  font-weight: bold;
}

#players-list li .name {
  font-size: 18px;
  font-weight: bold;
}

#players-list li .stats {
  overflow: hidden;
  color: var(--light-text-color);
}

#players-list li .stats span {
  font-size: 12px;
  margin: 0 8px;
  position: relative;
  padding: 2px 0;
}

#players-list li .stats span:after {
  content: "";
  height: 100%;
  width: 1px;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  top: 0;
  right: -8px;
}

#players-list li .stats span:first-child {
  margin-left: 0;
}

#players-list li .stats span:last-child:after {
  display: none;
}

#players-list li img {
  background-color: var(--img-background-color);
  display: block;
}

#players-list li .college {
  display: inline-flex;
  white-space: nowrap;
  max-width: 90px;
}

#standings-table {
  width: 95%;
  max-width: 720px;
  margin: 0 auto 48px;
  background-color: var(--card-background-color);
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-spacing: 0;
  border-collapse: collapse;
}

#standings-table thead th {
  background-color: var(--card-background-color);
  padding: 8px;
  border-bottom: 1px solid var(--table-border-color);
}

#standings-table thead th:first-child {
  text-align: left;
}

#standings-table thead .wins-heading,
#standings-table thead .losses-heading,
#standings-table thead .ties-heading {
  width: 24px;
}

#standings-table tbody th {
  text-align: left;
  font-weight: normal;
  padding: 2px 8px;
}

#standings-table tbody td {
  text-align: center;
  padding: 2px 8px;
}

#standings-table tbody .club-name {
  padding-left: 8px;
}

#standings-table tbody .club-logo {
  padding-right: 0;
  width: 24px;
}

footer {
  padding: 0 0 40px 0;
}

footer p {
  color: var(--text-color);
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

footer p a {
  color: var(--text-color);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #players-list {
    flex-direction: column;
    width: 94%;
  }

  #players-list li {
    width: 100%;
    margin: 6px 0;
  }

  #standings-table {
    width: 94%;
  }
}
